openapi: 3.0.1
info:
  title: Cinode API
  description: Cinode's Open API
  termsOfService: https://app.cinode.com/policies/terms
  contact:
    name: Cinode Support
    url: https://support.cinode.com/
  license:
    name: Cinode AB
    url: https://www.cinode.com
  version: "0.1"
servers:
- url: https://api.cinode.com
paths:
  /v0.1/companies/{companyId}/users/{companyUserId}/absences/{id}:
    get:
      tags:
      - Absence
      summary: Get absence period by id
      operationId: absence
      parameters:
      - name: companyId
        in: path
        description: Your company id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyUserId
        in: path
        description: The id of the actual user
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The id for the requested absence period
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Absence
    put:
      tags:
      - Absence
      summary: Update Absence Item for User
      operationId: updateAbsence
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyUserId
        in: path
        description: CompanyUser Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Absence Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: CompanyUserProfileCommitmentAddEditModel
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/absences_id_body'
          application/json:
            schema:
              $ref: '#/components/schemas/absences_id_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/absences_id_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/absences_id_body_3'
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "403":
          description: Forbidden request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Absence
    delete:
      tags:
      - Absence
      summary: Delete absence
      operationId: deleteAbsence
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyUserId
        in: path
        description: Customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Absence
  /v0.1/companies/{companyId}/users/{companyUserId}/absences:
    get:
      tags:
      - Absences
      summary: Get absence period by company user id
      operationId: absences
      parameters:
      - name: companyId
        in: path
        description: Your Cinode Company id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyUserId
        in: path
        description: The id of the actual User
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsencePeriodDtoModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsencePeriodDtoModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsencePeriodDtoModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsencePeriodDtoModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsencePeriodDtoModel'
        "400":
          description: Incorrect request
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Absences
    post:
      tags:
      - Absence
      summary: Create Absence Item for User
      operationId: newAbsence
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyUserId
        in: path
        description: CompanyUser Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: CompanyUserProfileCommitmentAddEditModel
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/companyUserId_absences_body'
          application/json:
            schema:
              $ref: '#/components/schemas/companyUserId_absences_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/companyUserId_absences_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/companyUserId_absences_body_3'
      responses:
        "200":
          description: All went well
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AbsencePeriodModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "403":
          description: Forbidden request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Absence
  /v0.1/companies/{companyId}/absence/types:
    get:
      tags:
      - AbsenceType
      summary: Get absence types for company
      operationId: absenceTypes
      parameters:
      - name: companyId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceTypeModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceTypeModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceTypeModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceTypeModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceTypeModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: AbsenceType
  /v0.1/companies/{companyId}/availability:
    post:
      tags:
      - Availability
      summary: Get availability for company users. Omitting companyUserId gets availability
        for all company users in company.
      operationId: searchAvailability
      parameters:
      - name: companyId
        in: path
        description: Your Cinode Company id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: Filter options
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/companyId_availability_body'
          application/json:
            schema:
              $ref: '#/components/schemas/companyId_availability_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/companyId_availability_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/companyId_availability_body_3'
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityModel'
        "400":
          description: Incorrect request
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Availability
  /v0.1/companies/{companyId}:
    get:
      tags:
      - Company
      summary: Get company by id
      operationId: company
      parameters:
      - name: companyId
        in: path
        description: CompanyId
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: Company
  /v0.1/companies/{companyId}/addresses/{id}/users:
    get:
      tags:
      - CompanyAddressUsers
      summary: Get company users list for an address
      operationId: companyAddressUsers
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Address Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserExtendedModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserExtendedModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserExtendedModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserExtendedModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserExtendedModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyAddressUsers
  /v0.1/companies/{companyId}/candidates/{id}:
    get:
      tags:
      - CompanyCandidate
      summary: Get Candidate by Id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: candidate
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Candidate Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidate
    delete:
      tags:
      - CompanyCandidate
      summary: "Delete candidate from the system\r\nThis action is irreversible, use\
        \ with caution"
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: deleteCompanyCandidate
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Candidate Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidate
    patch:
      tags:
      - CompanyCandidate
      summary: Patch company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: patchCompanyCandidate
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Candidate Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: "Only certain properties on the user are patchable. See the generated\
          \ example for a list of available properties, using the `op: \"replace\"\
          ` as example. See the generated schema for `ICompanyCandidatePatchDocument`\
          \ for full type information per property"
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - value: 0
              path: /pipelineid
              op: replace
            - value: 0
              path: /pipelinestageid
              op: replace
            - value: 0
              path: /recruitmentmanagerid
              op: replace
            - value: 0
              path: /state
              op: replace
            - value: 2023-01-25T08:43:04.0750419+01:00
              path: /availablefromdate
              op: replace
            - value: string
              path: /campaigncode
              op: replace
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidate
  /v0.1/companies/{companyId}/candidates:
    get:
      tags:
      - CompanyCandidates
      summary: Get Candidates
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: candidates
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateBaseModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateBaseModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateBaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateBaseModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateBaseModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidates
    post:
      tags:
      - CompanyCandidate
      summary: Create Candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: addCompanyCandidate
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: CompanyCandidateAddModel
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/companyId_candidates_body'
          application/json:
            schema:
              $ref: '#/components/schemas/companyId_candidates_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/companyId_candidates_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/companyId_candidates_body_3'
      responses:
        "200":
          description: All went well
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateExtendedModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidate
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/{id}:
    get:
      tags:
      - CompanyCandidateEvent
      summary: Get company candidates event by id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateEvent
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEvent
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/meetings/{id}:
    get:
      tags:
      - CompanyCandidateEventMeeting
      summary: Get company candidates meeting event with specified id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateEventMeeting
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventMeeting
    put:
      tags:
      - CompanyCandidateEventMeeting
      summary: Update meeting event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: updateCompanyCandidateEventMeeting
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Meeting Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/meetings_id_body'
          application/json:
            schema:
              $ref: '#/components/schemas/meetings_id_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/meetings_id_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/meetings_id_body_3'
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventMeeting
    delete:
      tags:
      - CompanyCandidateEventMeeting
      summary: Delete company candidate meeting event
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: deleteCompanyCandidateEventMeeting
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventMeeting
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/meetings:
    get:
      tags:
      - CompanyCandidateEventMeetings
      summary: Get company candidates events meetings list
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateMeetingEventList
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventMeetings
    post:
      tags:
      - CompanyCandidateEventMeeting
      summary: Add new meeting event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: newCompanyCandidateEventMeeting
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: Meeting Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/events_meetings_body'
          application/json:
            schema:
              $ref: '#/components/schemas/events_meetings_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/events_meetings_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/events_meetings_body_3'
      responses:
        "200":
          description: All went well
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventMeetingModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventMeeting
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/notes/{id}:
    get:
      tags:
      - CompanyCandidateEventNote
      summary: Get company candidates note event with specified id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateEventNote
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventNote
    put:
      tags:
      - CompanyCandidateEventNote
      summary: Update note event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: updateCompanyCandidateEventNote
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Note Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/notes_id_body'
          application/json:
            schema:
              $ref: '#/components/schemas/notes_id_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/notes_id_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/notes_id_body_3'
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventNote
    delete:
      tags:
      - CompanyCandidateEventNote
      summary: Delete company candidate note event
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: deleteCompanyCandidateEventNote
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventNote
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/notes:
    get:
      tags:
      - CompanyCandidateEventNotes
      summary: Get company candidates events notes list
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateNoteEventList
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventNotes
    post:
      tags:
      - CompanyCandidateEventNote
      summary: Add new note event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: newCompanyCandidateEventNote
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: Note Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/events_notes_body'
          application/json:
            schema:
              $ref: '#/components/schemas/events_notes_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/events_notes_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/events_notes_body_3'
      responses:
        "200":
          description: All went well
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventNoteModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventNote
  /v0.1/companies/{companyId}/candidates/{candidateId}/events:
    get:
      tags:
      - CompanyCandidateEvents
      summary: Get company candidates events list
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateEvents
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEvents
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/tasks/{id}:
    get:
      tags:
      - CompanyCandidateEventTask
      summary: Get company candidates task event with specified id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateEventTask
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventTask
    put:
      tags:
      - CompanyCandidateEventTask
      summary: Update task event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: updateCompanyCandidateEventTask
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Task Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/tasks_id_body'
          application/json:
            schema:
              $ref: '#/components/schemas/tasks_id_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/tasks_id_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/tasks_id_body_3'
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventTask
    delete:
      tags:
      - CompanyCandidateEventTask
      summary: Delete company candidate task event
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: deleteCompanyCandidateEventTask
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Event Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventTask
  /v0.1/companies/{companyId}/candidates/{candidateId}/events/tasks:
    get:
      tags:
      - CompanyCandidateEventTasks
      summary: Get company candidates events tasks list
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: companyCandidateTaskEventList
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidateEventBaseModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventTasks
    post:
      tags:
      - CompanyCandidateEventTask
      summary: Add new task event for company candidate
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: newCompanyCandidateEventTask
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: candidateId
        in: path
        description: CandidateId Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: Task Event details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/events_tasks_body'
          application/json:
            schema:
              $ref: '#/components/schemas/events_tasks_body_1'
          text/json:
            schema:
              $ref: '#/components/schemas/events_tasks_body_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/events_tasks_body_3'
      responses:
        "200":
          description: All went well
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateEventTaskModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateEventTask
  /v0.1/companies/{companyId}/candidates/{id}/attachments/{attachmentId}:
    get:
      tags:
      - CompanyCandidateFileAttachment
      summary: Get Candidate File Attachment by Id
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: getCandidateAttachment
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: attachmentId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: string
                format: byte
                x-content-type: text/plain
            application/json:
              schema:
                type: string
                format: byte
            text/json:
              schema:
                type: string
                format: byte
            application/xml:
              schema:
                type: string
                format: byte
            text/xml:
              schema:
                type: string
                format: byte
        "400":
          description: Incorrect request
        "401":
          description: Unauthorized request
        "404":
          description: Resource not found
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateFileAttachment
  /v0.1/companies/{companyId}/candidates/{id}/attachments:
    post:
      tags:
      - CompanyCandidateFileAttachments
      summary: Upload Candidate File Attachment
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: candidateAttachment
      parameters:
      - name: id
        in: path
        description: Candidate Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/id_attachments_body'
            encoding:
              Files:
                style: form
              Title:
                style: form
              Description:
                style: form
      responses:
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyCandidateFileAttachmentListModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateFileAttachmentListModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyCandidateFileAttachmentListModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateFileAttachmentListModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyCandidateFileAttachmentListModel'
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized
        "500":
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidateFileAttachments
  /v0.1/companies/{companyId}/candidates/pipelines:
    get:
      tags:
      - CompanyCandidatePipelines
      summary: Get candidate pipelines
      description: "Requires access level: CompanyRecruiter. Requires module: Recruitment. "
      operationId: candidatePipelines
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: All went well
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidatePipelineModel'
                x-content-type: text/plain
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidatePipelineModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidatePipelineModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidatePipelineModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCandidatePipelineModel'
        "400":
          description: Incorrect request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidationModel'
        "401":
          description: Unauthorized request
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-swagger-router-controller: CompanyCandidatePipelines
  /v0.1/companies/{companyId}/candidates/{candidateId}/skills:
    post:
      tags:
      - CompanyCandidateSkills
      summary: Add a Skill to company candidate
      description: "Sample request:\r\n\r\n    POST /v0.1/companies/1/candidates/19870/skills\r\
        \n    {\r\n        \"name\": \"SQL\",\r\n        \"companyCandidateId\": 19870,\r\
        \n        \"keywordSynonymId\": 577,\r\n        \"languageId\":1\r\n    }"
      operationId: newCompanyCandidateSkill
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        style: simple
[...]
